<div style="padding-left:20px; padding-right:20px;">
    <div id="me">
        <img ng-src="{{event.imageUrl}}" alt="{{event.name}}" />
        <div class="row">
            <div class="spannl1">
                <h2>{{event.name | uppercase}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="span3">
                <div><strong>Date: </strong>{{event.date}}</div>
                <div><strong>Time: </strong>{{event.time}}</div>
                <div><strong>Price: </strong>{{34 | currency}}</div>
            </div>
            <div class="span4">
                <address>
                    <strong>Address: </strong><br />
                    {{event.location.address}}<br />
                    {{event.location.city}}, {{event.location.province}}
                </address>
            </div>
        </div>
        <hr />
        <h3>Sessions</h3>
        Order By:
        <select ng-model="sortorder" class="input-small">
            <option selected value="name">Name</option>
            <option value="-upVoteCount">Votes</option>
        </select>
        Show:
        <select ng-model="query.level" class="input-medium">
            <option selected value="">All</option>
            <option selected value="introductory">Introductory</option>
            <option selected value="intermediate">Intermediate</option>
            <option selected value="advanced">Advanced</option>
        </select>
        <ul class="thumbnails">
            <li ng-repeat="session in event.sessions | orderBy:sortorder | filter:query">
                <div class="row session">
                    <upvote upvote="upVoteSession(session)" downvote="downVoteSession(session)" count="session.upVoteCount"/>
                    <div class="well span9">
                        <h4 class="well-title">{{session.name}}</h4>
                        <h6 style="margin-top:-10px;">{{session.creatorName}}</h6>
                        <span>Duration: {{session.duration | durations}}</span><br />
                        <span>Level: {{session.level}}</span>
                        <p>{{session.abstract}}</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
